{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
    <h1 class="mb-4">Les phrase du jour</h1>
    <table class="table table-hover">
        <tbody>
            {% for sentence in sentences %}
                <tr class="table-active">
                    <td>La phrase du <a href="{{ path('app_home_show', {id: sentence.id}) }}">{{sentence.createdAt | date('d/m/Y')}} </a> 👁️</td>
                    <td>
                        <span class="badge rounded-pill bg-{{sentence.category.color}}">{{sentence.category.name}}</span>
                    </td>
                    <td>  👍🏻 {{sentence.likes}}</td>
                    
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
