{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
    <h1 class="mb-4">Les phrase du jour</h1>
    <table class="table table-hover">
        <tbody >
            <tr>
                <td class="bg-{{sentence.category.color}} text-end">
                    <span class="badge rounded-pill">{{sentence.category.name}}</span>
                </td>
            </tr>
            <tr>
                <td class="bg-{{sentence.category.color}}">
                    <strong>{{sentence.createdAt | date('d/m/Y' )}}</strong> 
                    <p>{{sentence.content}}</p>
                </td>
            </tr>
            <tr>
                <td class="bg-{{sentence.category.color}} text-end">
                    <a href="{{path('app_home_like', {id: sentence.id})}}" class="text-decoration-none">👍🏻</a> {{sentence.likes}}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Commentaires</h2>
    {% if app.user %}
        {{form_start(formView)}}
            <div>
                {{form_widget( formView.content, {
                    attr: {
                        class: 'form-control',
                        rows: 1
                    }
                })}}
                {{form_errors(formView.content)}}
            </div>
            <button type="submit" class="btn bg-primary mb-3">Commenter</button>
        {{form_end(formView)}}
    {% endif %}

    {# {% if sentence.comments is not empty %} #}
    {% for comment in sentence.comments %}
        <p>
            <strong>{{comment.user.username}}</strong> 
            ({{comment.createdAt | date('\\l\\e d/m/Y à H:i:s' )}}) : {{comment.content}} 
        </p>
    {% else %}
        <p class="fw-bold">Soyez le premier à commenter !!</p>    
    {% endfor %}

{% endblock %}
