{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
    <h1 class="mb-4">Les phrase du jour</h1>
    <table class="table table-hover">
        <tbody >
            <tr>
                <td class="bg-{{sentence.category.color}} text-end">
                    <span class="badge rounded-pill">{{sentence.category.name}}</span>
                </td>
            </tr>
            <tr>
                <td class="bg-{{sentence.category.color}}">
                    <strong>{{sentence.createdAt | date('d/m/Y')}}</strong> 
                    <p>{{sentence.content}}</p>
                </td>
            </tr>
            <tr>
                <td class="bg-{{sentence.category.color}} text-end">
                    <a href="{{path('app_home_like', {id: sentence.id})}}" class="text-decoration-none">👍🏻</a> {{sentence.likes}}
                </td>
            </tr>
               
        </tbody>
    </table>
{% endblock %}
